/* Chat container */
.container {
    border: 2px solid #808080;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-right: 4%;
}

/* Clear float */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* couleur Bleu */
.bleu {
    border-color: #808080;
    background-color: #ADD8E6;
}

/* couleur Gris */
.gris {
    border-color: #808080;
    background-color: #c7c7c7;
}

/* Droite */
.right {
    float: right;
}

/* Gauche */
.left {
    float: left;
}

.datetime {
    float: right;
    color: #999;
}

.scrollbar {
    background-color: #ffffff;;
    width: 1200px;
    height: 300px;
    overflow: auto;
}
