/*<-- Carousel -->*/
#carousel {
    margin: 0 auto;
    width: 1200px;
}

/* CONTACTER */
.menucontact {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 50px auto;
	width: 350px;
	text-align: center;
}
.menucontact h2 {
	background: #efefef;
	margin-top: 0;
	padding: 10px;
}
.menucontact input {
	display: block;
	width: 85%;
	margin: 10px auto;
	padding: 10px;
}
.menucontact textarea {
	width: 90%;
	margin: 5px auto;
	padding: 10px;
	height: 80px;
}